<title>
  <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">


<script src="/js/jquery-3.3.1.min.js"></script>
<!-- <script src="https://code.jquery.com/ui/3.2.1/jquery-ui.min.js"></script> -->
<script src="/js/jquery-sortable-min.js"></script>
<link href="/css/googlefont.css" rel="stylesheet">
<!--Import materialize.css-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/css/materialize.min.css">

<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
