

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> <i class="medium material-icons">work</i><%= title %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/tax_invoice_issuers">발행기관</a></li>
        <li><a href="/tax_invoice_companies">업체</a></li>
        <li><a href="/tax_invoices?invoice_type=maintenance">유지보수정리</a></li>
        <li><a href="/tax_invoices?invoice_type=fee">이용료정리</a></li>
        <li><a href="/tax_invoices">수신함</a></li>
      </ul>
    </div>
</nav>
